            {%- if site.email -%}
            <a href="mailto:{{ site.email | encode_email }}" title="email">Email</a> |
            {% endif %}
            {%- if site.orcid_id -%}
            <a href="https://orcid.org/{{ site.orcid_id }}" title="ORCID">ORCID</a> |
            {% endif %}
            {%- if site.github_username -%}
            <a href="https://github.com/{{ site.github_username }}" title="GitHub">GitHub</a> |
            {% endif %}
            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">Linkedin</a> |
            {% endif %}
            {%- if site.twitter_username -%}
            <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">Twitter</a>
            {% endif %}
